.social {
	background-color:rgb(189, 195, 199);
	margin: 0 auto;
	width: 500px;
	height: 500px;
	text-align: center;
	padding: 50px;
}

h2 {
	font-size: 40px;
	border-bottom: solid 1px rgb(41, 128, 185);
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li {
	display: none;
	margin: 5px 0;
}

.icon-btn {
	height: 75px;
	width: 75px;
	margin: 0;
	background-color: rgb(41, 128, 185);
	color: rgb(236, 240, 241);
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	font-size: 40px;
	line-height: 75px;
	-webkit-transition: color .2s ease-out, background-color .2s ease-out;
	-moz-transition: color .2s ease-out, background-color .2s ease-out;
	 -ms-transition: color .2s ease-out, background-color .2s ease-out;
	  -o-transition: color .2s ease-out, background-color .2s ease-out;
		 transition: color .2s ease-out, background-color .2s ease-out;
}

.icon-btn:hover {
	background-color: rgb(236, 240, 241);
	color: rgb(41, 128, 185);
}
